In [434]:
import numpy as np
import scipy
from scipy import stats
from statsmodels.stats.proportion import proportion_confint

%pylab inline

Populating the interactive namespace from numpy and matplotlib

## Task 1

In [457]:
round(stats.binom_test(67, 100, 0.75, alternative = 'two-sided'),4)

0.0822

## Task 3

In [211]:
import pandas as pd

data = pd.read_csv("pines.txt", sep = "\t")

In [238]:
data.head()

      sn    we
0  200.0   8.8
1  199.3  10.0
2  193.6  22.4
3  167.7  35.6
4  183.9  45.4

In [213]:
data.shape

(584, 2)

In [214]:
data_act = scipy.stats.binned_statistic_2d(np.array(data.sn), np.array(data.we), data.sn, statistic='count', bins=5).statistic
data_act

array([[ 18.,  26.,  29.,  25.,  20.],
       [ 14.,  12.,  22.,  34.,  25.],
       [ 12.,  24.,  15.,  50.,  37.],
       [  8.,  19.,  31.,  50.,   7.],
       [  7.,   8.,  37.,  27.,  27.]])

In [215]:
data_act = np.array(data_act.reshape(25,1))

In [216]:
dim = data.shape[0]
mean = 584./25

In [217]:
mean

23.36

In [218]:
data_exp = [[0] * 1] * 25

for i in range(25):
    for j in range(1):
        data_exp[i][j]=mean

In [224]:
data_exp = np.array(data_exp)
data_exp[:5]

array([[ 23.36],
       [ 23.36],
       [ 23.36],
       [ 23.36],
       [ 23.36]])

In [225]:
data_act.shape

(25L, 1L)

In [226]:
data_exp.shape

(25L, 1L)

## Task 4

In [227]:
round(stats.chisquare(data_act, data_exp, ddof = 0).statistic,2)

150.59

## Task 5

In [236]:
stats.chisquare(data_act, data_exp, ddof = 0).pvalue[0]

2.5746697749672791e-20

In [237]:
if stats.chisquare(data_act, data_exp, ddof = 0).pvalue[0]<0.05:
    print "declined"
else: "stat value is more then 0.05"

declined