In [99]:
import numpy as np
import pandas as pd
from sklearn.cluster import MeanShift

In [100]:
raw_data = pd.read_csv('checkins.dat', sep = '|', skipinitialspace=True)
data = raw_data.dropna()

In [101]:
data.shape

(396634, 6)

In [102]:
data.head()

,id,user_id,venue_id,latitude,longitude,created_at
2,984222,15824.0,5222.0,38.895112,-77.036366,2012-04-21 17:43:47
4,984234,44652.0,5222.0,33.800745,-84.410520,2012-04-21 17:43:43
8,984291,105054.0,5222.0,45.523452,-122.676207,2012-04-21 17:39:22
10,984318,2146539.0,5222.0,40.764462,-111.904565,2012-04-21 17:35:46
11,984232,93870.0,380645.0,33.448377,-112.074037,2012-04-21 17:38:18

In [93]:
data = data.values[:100000,3:5]

MShift = MeanShift(bandwidth=0.1)
MShift.fit(data)

MeanShift(bandwidth=0.1, bin_seeding=False, cluster_all=True, min_bin_freq=1,
     n_jobs=1, seeds=None)

In [103]:
labels = MShift.labels_
labels.shape

(100000L,)

In [104]:
cc = MShift.cluster_centers_
cc.shape

(3230L, 2L)

In [106]:
filtered_cc = []

for label in np.unique(labels):
    if list(labels).count(label) > 15:
        filtered_cc.append(cc[label])
        
print len(filtered_cc)

593

In [109]:
def dist(x,y):
    return (x[0]-y[0])**2+(x[1]-y[1])**2

In [112]:
#33.751277, -118.188740 (Los Angeles)
#25.867736, -80.324116 (Miami)
#51.503016, -0.075479 (London)
#52.378894, 4.885084 (Amsterdam)
#39.366487, 117.036146 (Beijing)
#-33.868457, 151.205134 (Sydney)
offices = [[33.751277, -118.188740],[25.867736, -80.324116],[51.503016, -0.075479],[52.378894, 4.885084],[-33.868457, 151.205134],[39.366487, 117.036146]]

In [122]:
dist_matrix = np.zeros((len(offices),len(filtered_cc)))
print dist_matrix.shape

for ind_ofc,office in enumerate(offices):
    for ind_cc, cc in enumerate(filtered_cc):
        dist_matrix[ind_ofc][ind_cc] = dist(office, cc)

(6L, 593L)

In [149]:
min_dist = []
min_cc = []

for ind, office in enumerate(offices):
    min_dist.append(min(dist_matrix[ind][:]))
    min_cc.append(np.argmin(dist_matrix[ind][:]))

In [153]:
print(min_dist)
print(min_cc)

[0.0050194011900760883, 0.00051411327615484234, 0.0025058328805651507, 8.7484523675144147e-05, 6.1383435474385181e-05, 85.887946580199667]
[51, 402, 58, 372, 410, 424]

In [160]:
def write_answer(ans):
    with open("Answer.txt", "w") as fout:
        fout.write(str(ans[0])+' '+str(ans[1]))

In [161]:
print filtered_cc[min_cc[np.argmin(min_dist)]]
write_answer(filtered_cc[min_cc[np.argmin(min_dist)]])

[ -33.86063043  151.20477593]