In [192]:
import numpy as np
import scipy
from scipy import stats
from statsmodels.stats.weightstats import *

%pylab inline

Populating the interactive namespace from numpy and matplotlib

## Task 4

In [209]:
n=160

tt = (9.57-9.5)/(0.4/np.sqrt(n))
p_value = (1-stats.norm.cdf(tt))*2

In [210]:
tt, round(p_value,4)

(2.2135943621178749, 0.0269)

## Task 6

In [169]:
import pandas as pd
from sklearn.cross_validation import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics

In [170]:
data = pd.read_csv("diamonds.txt", sep='\t')

In [171]:
data.head()

   carat  depth  table  price     x     y     z
0   0.23   61.5   55.0    326  3.95  3.98  2.43
1   0.21   59.8   61.0    326  3.89  3.84  2.31
2   0.23   56.9   65.0    327  4.05  4.07  2.31
3   0.29   62.4   58.0    334  4.20  4.23  2.63
4   0.31   63.3   58.0    335  4.34  4.35  2.75

In [172]:
y = data.price

In [173]:
y.head()

0    326
1    326
2    327
3    334
4    335
Name: price, dtype: int64

In [174]:
data = data.drop(['price'], axis=1)

In [175]:
data.head()

   carat  depth  table     x     y     z
0   0.23   61.5   55.0  3.95  3.98  2.43
1   0.21   59.8   61.0  3.89  3.84  2.31
2   0.23   56.9   65.0  4.05  4.07  2.31
3   0.29   62.4   58.0  4.20  4.23  2.63
4   0.31   63.3   58.0  4.34  4.35  2.75

In [176]:
X_train, X_test = train_test_split(data, test_size = 0.25, random_state = 1)
y_train, y_test = train_test_split(y, test_size=0.25, random_state = 1)

In [177]:
X_train.shape, X_test.shape, data.shape

((40455, 6), (13485, 6), (53940, 6))

In [178]:
y_train.shape, y_test.shape, y.shape

((40455L,), (13485L,), (53940L,))

In [179]:
LR = LinearRegression()
LR.fit(X_train, y_train)
y_pred_LR = LR.predict(X_test)

In [180]:
print y_pred_LR

[  778.42235621  6930.46053685  2520.12128307 ...,  5456.49180326
  3630.17181904  1203.67470294]

In [181]:
y_pred_LR.shape

(13485L,)

In [182]:
RFG = RandomForestRegressor(random_state=1)
RFG.fit(X_train, y_train)
y_pred_RFG = RFG.predict(X_test)

In [183]:
print y_pred_RFG

[  858.55  7329.3   2055.5  ...,  4711.    3435.3   1077.6 ]

In [184]:
y_pred_RFG.shape

(13485L,)

In [185]:
abs(y_test - y_pred_LR)[:10]

2714      214.422356
14653    1016.460537
52760      41.878717
48658       7.165645
14812    1113.152701
37498     706.195885
12456     974.126765
16738     394.581497
21542     124.909872
40732     270.733881
Name: price, dtype: float64

In [186]:
abs(y_test - y_pred_RFG)[:10]

2714      294.55
14653    1415.30
52760     506.50
48658      37.60
14812    2375.50
37498     232.00
12456    1382.00
16738     323.10
21542     535.30
40732     126.00
Name: price, dtype: float64

In [187]:
stats.ttest_rel(abs(y_test - y_pred_LR), 
                abs(y_test - y_pred_RFG))

Ttest_relResult(statistic=12.745056775182125, pvalue=5.428654818173765e-37)

## Task 7

In [206]:
DescrStatsW(abs(y_test - y_pred_LR) - abs(y_test - y_pred_RFG)).tconfint_mean()

(72.497265650113349, 98.849770256267362)